<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300557807249-8174ll397mcepbijkg6mo43usok3idu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300557807249-8174ll397mcepbijkg6mo43usok3idu8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>300557807249-6b8d4tdsiiir902rpumnc4s1vqmts2mn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBOttnATEO7Mz887SmzMV2KQggaHGZ_XXk</string>
	<key>GCM_SENDER_ID</key>
	<string>300557807249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.rippleapp</string>
	<key>PROJECT_ID</key>
	<string>rippl-1476f</string>
	<key>STORAGE_BUCKET</key>
	<string>rippl-1476f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300557807249:ios:8b2f8204d6af102af0d930</string>
	<key>DATABASE_URL</key>
	<string>https://rippl-1476f.firebaseio.com</string>
</dict>
</plist>